*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    // font-family: monospace;
    // font-size: 1.05em;
    font-size: var(--font-size);
}

// Variables
:root{
    --footer-height: 22px;
    --font-size: 16px;
    // -------- Editor
    --padd : 30px;
    --lineS : 1.1;
    --innerPadd : 10px;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

// Body styles
body{
    a {
        display: inline-block;
        padding: 2px;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        &:hover{
            background: #666666;
        }
    }
    background-color: #000000;
    color: #000000;
    width: 100vw;
    height: 100vh;

    &.dark{
        a{
            &:hover{
                background: #999999;
            }
        }
        background-color: #ffffff;
        color: #ffffff;
        > footer{
            background-color: rgba(#fff, 0.8);
            color: #000000;
            input{
                border: 1px solid #000 !important;
            }
        }
        > main {
            div.textarea{
                > div{
                    background-color: #000000;
                    .line-numbers-rows{
                        border-right: .5px solid rgba(#ffffff, 0.3);
                        background-color: rgb(50, 50, 50);
                        > span{
                            &:before{
                                color: #c9c9c9;
                            }
                        }
                    }
                    textarea{
                        caret-color: #fff;
                    }
                    pre{
                        code{
                            color: #ffffff;
                        }
                    }
                    textarea, pre, .line-numbers-rows{
                        line-height: var(--lineS) !important;
                    }
                }
            }
        }
    }
    > main{
        div.textarea{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(max(215px, 45vw), 2fr));
            grid-gap: 2px;
            width: 100vw;
            height: calc(100vh - var(--footer-height));
            // height: 100vh;
            > div{
                flex: 1;
                position: relative;
                background-color: #ffffff;
                .line-numbers-rows{
                    width: var(--padd) !important;
                    padding: 10px 5px 10px 3px;
                    text-align: right;
                    height: min-content;
                    font-family: "SFMono-Regular", Consolas, Liberation Mono, Menlo, monospace !important;
                    border-right: .5px solid rgba(#000000, 0.3);
                    background-color: rgb(250, 250, 250);
                    overflow: hidden;
                    > span{
                        counter-increment: linenumber;
                        &:before{
                            content: counter(linenumber);
                            display: block;
                            color: #506882;
                            // color: #f92672;
                        }
                    }
                    *{
                        font-size: calc(var(--font-size) * 0.8) !important;
                        line-height: calc(var(--lineS) * 1.2) !important;
                    }
                }
                textarea{
                    border: none;
                    resize: none;
                    outline: none;
                    white-space: pre;
                    z-index: 1;
                    background-color: transparent;
                    color: transparent;
                    // color: rgba(rgb(255, 255, 255), 0.8);
                    caret-color: #000;
                    padding: 10px 10px 10px calc(var(--padd) + var(--innerPadd)) !important;
                }
                pre{
                    z-index: 0;
                    margin: 0 !important;
                    line-height: 1 !important;
                    background-color: transparent !important;
                    padding: 10px 10px calc(10px + var(--font-size)) calc(var(--padd) + var(--innerPadd)) !important;
                    // height: calc(100% - 16px) !important;
                
                    code{
                        color: #000000;
                        font-family: 'Courier New', Courier, monospace;
                        text-shadow: none;
                        line-height: 1 !important;
                    }
                }
                textarea, pre, .line-numbers-rows{
                    position: absolute;
                    transition: all 0.5s, background-color 0s;
                    line-height: var(--lineS) !important;
                    top: 0;
                    width: 100%;
                    left: 0;
                    height: 100%;
                }
            }
        }
    }


    // Footer styles
    > footer{
        background-color: rgba(rgb(0, 0, 0), 0.8);
        color: #ffffff;
        width: 100vw;
        position: fixed;
        z-index: 99;
        bottom: 0;
        left: 0;
        .nav-text-offer {
            display: none;
            input{
                // border: none;
                border: 1px solid #fff;
                background: transparent;
                width: calc(100vw - 11em);
                text-overflow: ellipsis;
                color: inherit;
                margin-left: 1px;
                &:focus{
                    outline: none;
                }
            }
        }
        .nav-default{
            display: flex;
            justify-content: space-between;
            .generate-url{
                text-align: right;
            }
        }
        &.text-offer{
            .nav-default{
                display: none;
            }
            .nav-text-offer{
                display: block;
            }
        }
    }


    // Media queries
    // Mobile
    @media only screen and (max-width: 600px) {
        > footer{
            .nav-default .mobile-unshow{
                display: none;
            }
            .nav-default{
                justify-content: space-around;
            }
        }
    }
    @media only screen and (min-width: 600px) {
        > footer{
            .nav-default .desktop-unshow{
                display: none;
            }
        }
    }
}